.color {
    display: inline-block;
    border: solid black 1px;
    height: 150px;
    width: 150px;
}

#colorBlack {
    background-color: black;
}

#colorBlue {
    background-color: blue;
}

#colorGrey {
    background-color: grey;
}

#colorRed {
    background-color: red;
}